# TUPLES

Creating Tuples

In [4]:
a = (10,20,30,40)
print(type(a))

<class 'tuple'>

Empty tuple

In [5]:
tup = ()
print(type(tup))

<class 'tuple'>

Single element in a tuple

In [6]:
tup = (5,)
print(type(tup))

<class 'tuple'>

A tuple with mixed data types

In [8]:
tup1 = (1, "hello", True, 90.5)
print(type(tup1))

<class 'tuple'>

Nested tuples

In [9]:
mix_tuple = ("cat", 55.2,(10,20,30))
print(type(a))

<class 'tuple'>

Can a tuple store list?

In [ ]:
tup_list = ([10,20],[30,40,50],[60,70,80,90])
print(type(tup_list))

#yes it can store list as well

<class 'tuple'>

Tuple Constructor

In [11]:
empty = tuple()
print(empty)
print(type(empty))

()
<class 'tuple'>

Converting list into a tuple

In [12]:
my_list = [10,20,"hi",90.5]
print(type(my_list))
tup_list = tuple(my_list)
print(type(tup_list))

<class 'list'>
<class 'tuple'>

Coverting a string into tuple

In [13]:
str = "Hello"
tup1 = tuple(str)
print(tup1)
print(type(tup1))

('H', 'e', 'l', 'l', 'o')
<class 'tuple'>

Converting a dictionary into tuple

In [14]:
dic = {"a":10, "b":20, "c":30}
print(dic)
print(type(dic))

#converting into tuple
tup = tuple(dic)
print(tup)
print(type(tup))

{'a': 10, 'b': 20, 'c': 30}
<class 'dict'>
('a', 'b', 'c')
<class 'tuple'>

Converting a set into tuple

In [15]:
set1 = {1,2,3,4,5}
print(set1)
print(type(set1))

#converting into tuple:
tup1 = tuple(set1)
print(tup1)
print(type(tup1))

{1, 2, 3, 4, 5}
<class 'set'>
(1, 2, 3, 4, 5)
<class 'tuple'>