DataFrames in Pandas

Creating a dataframe in pandas

In [2]:
import pandas as pd

friends = pd.DataFrame({"Name":["Aarav","Riya","Mayank","Komal"],"Maths":[98,76,84,82],"Science":[90,70,75,86]})
print(friends)

     Name  Maths  Science
0   Aarav     98       90
1    Riya     76       70
2  Mayank     84       75
3   Komal     82       86

Accessing Elements in DataFrame

1. Get a column as a Series

In [3]:
print(friends["Name"])

0     Aarav
1      Riya
2    Mayank
3     Komal
Name: Name, dtype: object

2. Get Multiple Columns

In [4]:
friends[["Maths","Science"]]

   Maths  Science
0     98       90
1     76       70
2     84       75
3     82       86

3. Get rows using .iloc

In [5]:
print(friends.iloc[0])

Name       Aarav
Maths         98
Science       90
Name: 0, dtype: object

4. Get rows using .loc

In [ ]:
friends.index = ["F1","F2","F3","F4"]

print(friends.loc["F3"])

Name       Mayank
Maths          84
Science        75
Name: F3, dtype: object

### Practice Task

1. Create a DataFrame of 4 friends, with columns: Name, Fav Food, Fav Song
data = {
    "Name": [...],
    "Fav Food": [...],
    "Fav Song": [...]
}

2. Print the full DataFrame

3. Access:

    a. All Fav Food column

    b. Row of your 3rd friend (using iloc)
    
    c. Both Fav Food + Fav Song columns together

4. Set "Name" column as index and print data for one friend using loc

In [19]:
import pandas as pd

data = {
    "Name": ["Riya","Aarav","Komal","Mayank"],
    "Fav Food": ["Pizza","Burger","Noodles","Cake"],
    "Fav Song" : ["Memories","Photograph","Sapphire","Dance Monkey"]
}

df = pd.DataFrame(data)
print(df)

#accessing fav food column
print(df["Fav Food"])

#row of 3rd friend using iloc
print(df.iloc[2])

#favfood and favsongs column together
print(df[["Fav Food","Fav Song"]])

#setting name column as index

df.index = data["Name"]
print(df.loc["Aarav"])

     Name Fav Food      Fav Song
0    Riya    Pizza      Memories
1   Aarav   Burger    Photograph
2   Komal  Noodles      Sapphire
3  Mayank     Cake  Dance Monkey
0      Pizza
1     Burger
2    Noodles
3       Cake
Name: Fav Food, dtype: object
Name           Komal
Fav Food     Noodles
Fav Song    Sapphire
Name: 2, dtype: object
  Fav Food      Fav Song
0    Pizza      Memories
1   Burger    Photograph
2  Noodles      Sapphire
3     Cake  Dance Monkey
Name             Aarav
Fav Food        Burger
Fav Song    Photograph
Name: Aarav, dtype: object