### Groupby in Pandas

Practice Questions :

Group by Product and find the total Price per product.

Group by Product and calculate the average Quantity per product.

Group by Product and find the total sales (Price × Quantity).

Find the highest sale amount (Total Sales) per product using groupby.

In [7]:
import pandas as pd

df = pd.DataFrame({
    "Product": ["Laptop", "Phone", "Laptop", "Tablet", "Phone", "Speaker"],
    "Price": [75000, 30000, 80000, 20000, 28000, 7000],
    "Quantity": [2, 3, 1, 4, 2, 5]
})

print(df)

# Group by Product and find the total Price per product.

sum = df.groupby("Product")["Price"].sum()
print(sum)

# Group by Product and calculate the average Quantity per product.

avg = df.groupby("Product")["Quantity"].mean()
print(avg)

# Group by Product and find the total sales (Price × Quantity).

df["Total Sales"] = df["Price"]*df["Quantity"]
print(df)

ts = df.groupby("Product")["Total Sales"].sum()
print(ts)

# Find the highest sale amount (Total Sales) per product using groupby.

max_amt = df.groupby("Product")["Total Sales"].max()
print(max_amt)

   Product  Price  Quantity
0   Laptop  75000         2
1    Phone  30000         3
2   Laptop  80000         1
3   Tablet  20000         4
4    Phone  28000         2
5  Speaker   7000         5
Product
Laptop     155000
Phone       58000
Speaker      7000
Tablet      20000
Name: Price, dtype: int64
Product
Laptop     1.5
Phone      2.5
Speaker    5.0
Tablet     4.0
Name: Quantity, dtype: float64
   Product  Price  Quantity  Total Sales
0   Laptop  75000         2       150000
1    Phone  30000         3        90000
2   Laptop  80000         1        80000
3   Tablet  20000         4        80000
4    Phone  28000         2        56000
5  Speaker   7000         5        35000
Product
Laptop     230000
Phone      146000
Speaker     35000
Tablet      80000
Name: Total Sales, dtype: int64
Product
Laptop     150000
Phone       90000
Speaker     35000
Tablet      80000
Name: Total Sales, dtype: int64