Aggregation in Pandas

Example:

In [2]:
import pandas as pd

df = pd.DataFrame({
    "Product": ["Laptop", "Phone", "Laptop", "Tablet", "Phone", "Speaker"],
    "Price": [75000, 30000, 80000, 20000, 28000, 7000],
    "Quantity": [2, 3, 1, 4, 2, 5]
})

# Create Total Sales
df["Total Sales"] = df["Price"] * df["Quantity"]

# Group by Product and apply multiple aggregations
result = df.groupby("Product").agg({
    "Price": ["mean", "max"],
    "Quantity": ["sum", "mean"],
    "Total Sales": "sum"
})

print(result)

           Price        Quantity      Total Sales
            mean    max      sum mean         sum
Product
Laptop   77500.0  80000        3  1.5      230000
Phone    29000.0  30000        5  2.5      146000
Speaker   7000.0   7000        5  5.0       35000
Tablet   20000.0  20000        4  4.0       80000

### Practice Question

Q1. Group by "Product" and calculate:

Average price

Total quantity

In [4]:
import pandas as pd

df = pd.DataFrame({
    "Product": ["Mouse", "Keyboard", "Mouse", "Monitor", "Keyboard", "Mouse"],
    "Price": [500, 1200, 550, 7000, 1100, 520],
    "Quantity": [10, 5, 8, 2, 7, 6]
})


result = df.groupby("Product").agg({
    "Price": "mean",
    "Quantity" : "sum"
})

print(result)

                Price  Quantity
Product
Keyboard  1150.000000        12
Monitor   7000.000000         2
Mouse      523.333333        24

Q2. Add a new column "Total Sales" (Price Ã— Quantity),

Then group by "Product" and find:

Total sales per product

Maximum sale made in a single entry (per product)

In [ ]:
import pandas as pd

df = pd.DataFrame({
    "Product": ["Mouse", "Keyboard", "Mouse", "Monitor", "Keyboard", "Mouse"],
    "Price": [500, 1200, 550, 7000, 1100, 520],
    "Quantity": [10, 5, 8, 2, 7, 6]
})

df["Total Sales"] = df["Price"] * df["Quantity"]
print(df)

result = df.groupby("Product").agg({
    "Total Sales": "sum",
    "Quantity" : "max"
})

print(result)

Q3. For each product, show:

Minimum price

Maximum quantity

Average total sales

In [19]:
import pandas as pd

df = pd.DataFrame({
    "Product": ["Mouse", "Keyboard", "Mouse", "Monitor", "Keyboard", "Mouse"],
    "Price": [500, 1200, 550, 7000, 1100, 520],
    "Quantity": [10, 5, 8, 2, 7, 6]
})

df["Total Sales"] = df["Price"] * df["Quantity"]
print(df)

result = df.groupby("Product").agg({
    "Price":"min",
    "Quantity": "max",
    "Total Sales": "mean"
})

print(result)

    Product  Price  Quantity  Total Sales
0     Mouse    500        10         5000
1  Keyboard   1200         5         6000
2     Mouse    550         8         4400
3   Monitor   7000         2        14000
4  Keyboard   1100         7         7700
5     Mouse    520         6         3120
          Price  Quantity   Total Sales
Product
Keyboard   1100         7   6850.000000
Monitor    7000         2  14000.000000
Mouse       500        10   4173.333333