Advanced Filtering And Conditioning

In [2]:
import pandas as pd

data = {
    "Product": ["Laptop", "Phone", "Tablet", "Monitor", "Phone", "Speaker", "Laptop", "Tablet", "Monitor", "Speaker"],
    "Category": ["Electronics", "Electronics", "Electronics", "Electronics", "Electronics", "Audio", "Electronics", "Electronics", "Electronics", "Audio"],
    "Price": [75000, 30000, 20000, 12000, 28000, 7000, 80000, 22000, 13000, 7500],
    "Quantity": [2, 3, 1, 4, 2, 5, 1, 3, 2, 4]
}
df = pd.DataFrame(data)
print(df)

   Product     Category  Price  Quantity
0   Laptop  Electronics  75000         2
1    Phone  Electronics  30000         3
2   Tablet  Electronics  20000         1
3  Monitor  Electronics  12000         4
4    Phone  Electronics  28000         2
5  Speaker        Audio   7000         5
6   Laptop  Electronics  80000         1
7   Tablet  Electronics  22000         3
8  Monitor  Electronics  13000         2
9  Speaker        Audio   7500         4

Practice Tasks

Q1. Filter rows where Price is greater than 50,000

Q2. Filter rows where Quantity is between 2 and 4 (inclusive)

Q3. Show all products in the “Audio” category

Q4. Show all products where Product is either ‘Phone’ or ‘Laptop’

Q5. Show products whose name starts with the letter ‘T’

In [13]:
#q1 - filter rows where Price is greater than 50,000
price_above_50k = df[df["Price"] > 50000]
print(price_above_50k)

#q2 - Filter rows where Quantity is between 2 and 4 (inclusive)
qty = df[df["Quantity"].between(2,4)]
print(qty)

#q3 - Show all products in the “Audio” category
audio_category = df[df["Category"] == "Audio"]
print(audio_category["Product"])

#q4 - Show all products where Product is either ‘Phone’ or ‘Laptop’
phone_or_laptop = df[df["Product"].isin(["Phone","Laptop"])]
print(phone_or_laptop)

#q5 - Show products whose name starts with the letter ‘T’
product_start_T = df[df["Product"].str.startswith("T")]
print(product_start_T)

  Product     Category  Price  Quantity
0  Laptop  Electronics  75000         2
6  Laptop  Electronics  80000         1
   Product     Category  Price  Quantity
0   Laptop  Electronics  75000         2
1    Phone  Electronics  30000         3
3  Monitor  Electronics  12000         4
4    Phone  Electronics  28000         2
7   Tablet  Electronics  22000         3
8  Monitor  Electronics  13000         2
9  Speaker        Audio   7500         4
5    Speaker
9    Speaker
Name: Product, dtype: object
  Product     Category  Price  Quantity
0  Laptop  Electronics  75000         2
1   Phone  Electronics  30000         3
4   Phone  Electronics  28000         2
6  Laptop  Electronics  80000         1
  Product     Category  Price  Quantity
2  Tablet  Electronics  20000         1
7  Tablet  Electronics  22000         3