Detecting And Removing The Duplicates

In [5]:
import pandas as pd

data = {
    'Name': ['Amit', 'Priya', 'John', 'Amit', 'Ravi', 'John', 'Neha'],
    'City': ['Delhi', 'Mumbai', 'Chennai', 'Delhi', 'Kolkata', 'Chennai', 'Pune'],
    'Age': [25, 30, 22, 25, 28, 22, 29]
}

df = pd.DataFrame(data)
print(df)

    Name     City  Age
0   Amit    Delhi   25
1  Priya   Mumbai   30
2   John  Chennai   22
3   Amit    Delhi   25
4   Ravi  Kolkata   28
5   John  Chennai   22
6   Neha     Pune   29

Finding the duplicates

In [6]:
print(df.duplicated())

#to see only the duplicated rows
print(df[df.duplicated()])

0    False
1    False
2    False
3     True
4    False
5     True
6    False
dtype: bool
   Name     City  Age
3  Amit    Delhi   25
5  John  Chennai   22

Remove duplicate rows

In [7]:
print(df.drop_duplicates())

    Name     City  Age
0   Amit    Delhi   25
1  Priya   Mumbai   30
2   John  Chennai   22
4   Ravi  Kolkata   28
6   Neha     Pune   29

Checking duplicates in for the specific column

In [9]:
print(df[df.duplicated(subset="Name")])

   Name     City  Age
3  Amit    Delhi   25
5  John  Chennai   22

Removing the duplicates for specific columns

In [10]:
print(df.drop_duplicates(subset=["Name","Age"]))

    Name     City  Age
0   Amit    Delhi   25
1  Priya   Mumbai   30
2   John  Chennai   22
4   Ravi  Kolkata   28
6   Neha     Pune   29

### Practice Tasks

Q1: How many duplicate rows are there in the 
dataset?

Q2: Show the duplicate rows only

Q3: Drop all duplicate rows and print the result

Q4: Drop duplicates based only on 'Name' and 'Age'

In [ ]:
import pandas as pd

data = {
    'Name': ['Amit', 'Priya', 'John', 'Amit', 'Ravi', 'John', 'Neha'],
    'City': ['Delhi', 'Mumbai', 'Chennai', 'Delhi', 'Kolkata', 'Chennai', 'Pune'],
    'Age': [25, 30, 22, 25, 28, 22, 29]
}

df = pd.DataFrame(data)
# print(df)

# q1 - how many duplicate rows are there in the dataset
print(df.duplicated().sum())

#q2 - show the duplicat rows only
print(df[df.duplicated()])

#q3 - drop all duplicate rows and print th result
print(df.drop_duplicates())

#q4 - drop duplicates based on name and age
print(df.drop_duplicates(subset=["Name","Age"]))

2
   Name     City  Age
3  Amit    Delhi   25
5  John  Chennai   22
    Name     City  Age
0   Amit    Delhi   25
1  Priya   Mumbai   30
2   John  Chennai   22
4   Ravi  Kolkata   28
6   Neha     Pune   29
    Name     City  Age
0   Amit    Delhi   25
1  Priya   Mumbai   30
2   John  Chennai   22
4   Ravi  Kolkata   28
6   Neha     Pune   29