Map - Used on Series only

In [ ]:
import pandas as pd

df = pd.DataFrame({
    'Name': ['Amit', 'Priya', 'Ravi'],
    'Age': [25, 30, 22],
    'City': ['Delhi', 'Mumbai', 'Kolkata']
})

print(df)

#convert the names into lowercase
print(df["Name"].map(str.lower))

    Name  Age     City
0   Amit   25    Delhi
1  Priya   30   Mumbai
2   Ravi   22  Kolkata
0     amit
1    priya
2     ravi
Name: Name, dtype: object

Applymap - Used on dataframe

In [13]:
import pandas as pd

df = pd.DataFrame({
    'Name': ['Amit', 'Priya', 'Ravi'],
    'Age': [25, 30, 22],
    'City': ['Delhi', 'Mumbai', 'Kolkata']
})

print(df)

#convert the names into lowercase
df = df.applymap(lambda x: str(x).upper())
print(df)

    Name  Age     City
0   Amit   25    Delhi
1  Priya   30   Mumbai
2   Ravi   22  Kolkata
    Name Age     City
0   AMIT  25    DELHI
1  PRIYA  30   MUMBAI
2   RAVI  22  KOLKATA

C:\Users\Hurshita Gupta\AppData\Local\Temp\ipykernel_16808\2803959538.py:12: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df = df.applymap(lambda x: str(x).upper())

Apply - Used on both dataframe and series

In [ ]:
import pandas as pd

df = pd.DataFrame({
    'Name': ['Amit', 'Priya', 'Ravi'],
    'Age': [25, 30, 22],
    'City': ['Delhi', 'Mumbai', 'Kolkata']
})

print(df)

#on series:
print(df["Age"].apply(lambda x : x+1))

#on whole dataframe:
df.apply(lambda row: row['Age'] + row['Salary'], axis=1)
print(df.apply(lambda row:row["Age"] + row["Salary"], axis=1))

    Name  Age     City
0   Amit   25    Delhi
1  Priya   30   Mumbai
2   Ravi   22  Kolkata
0    26
1    31
2    23
Name: Age, dtype: int64